 <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AuthenticateUserController</servlet-name>
  	<display-name>AuthenticateUserController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.AuthenticateUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateUserController</servlet-name>
  	<display-name>CreateUserController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.CreateUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetUserPasswordController</servlet-name>
  	<display-name>ResetUserPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.ResetUserPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetPasswordController</servlet-name>
  	<display-name>ForgetPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackController</servlet-name>
  	<display-name>FeedbackController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.FeedbackController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveComplaintController</servlet-name>
  	<display-name>SaveComplaintController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.SaveComplaintController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommonFetchController</servlet-name>
  	<display-name>CommonFetchController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.CommonFetchController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchNearByCab</servlet-name>
  	<display-name>SearchNearByCab</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.SearchNearByCab</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserController</servlet-name>
  	<display-name>UpdateUserController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveCabInformation</servlet-name>
  	<display-name>SaveCabInformation</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.SaveCabInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertNewConstantsController</servlet-name>
  	<display-name>InsertNewConstantsController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.InsertNewConstantsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveCabCaptainController</servlet-name>
  	<display-name>SaveCabCaptainController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.SaveCabCaptainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveBookingCabInfoController</servlet-name>
  	<display-name>SaveBookingCabInfoController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.SaveBookingCabInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthenticateUserController</servlet-name>
  	<url-pattern>/AuthenticateUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateUserController</servlet-name>
  	<url-pattern>/CreateUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetUserPasswordController</servlet-name>
  	<url-pattern>/ResetUserPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetPasswordController</servlet-name>
  	<url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackController</servlet-name>
  	<url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveComplaintController</servlet-name>
  	<url-pattern>/SaveComplaintController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommonFetchController</servlet-name>
  	<url-pattern>/CommonFetchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchNearByCab</servlet-name>
  	<url-pattern>/SearchNearByCab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserController</servlet-name>
  	<url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveCabInformation</servlet-name>
  	<url-pattern>/SaveCabInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertNewConstantsController</servlet-name>
  	<url-pattern>/InsertNewConstantsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveCabCaptainController</servlet-name>
  	<url-pattern>/SaveCabCaptainController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveBookingCabInfoController</servlet-name>
  	<url-pattern>/SaveBookingCabInfoController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
